<%= render "layouts/header" %>
<style>
#loginbox {
	width: 400px; 
	margin:auto; 
	margin-top: 50px;
	line-height: 25px;
	background-color: #FFF;

	box-shadow: 0 0 8px #A7938B;
	-webkit-box-shadow: 0 0 8px #A7938B;
	-moz-box-shadow: 0 0 8px #A7938B;
}
</style>
<div id="loginbox">

<h1>Login</h1>
		
	<%= form_tag do %>

		<table cellpadding = "5px" style="margin-left: 10%;">
			<tr>
				<td style="color: red" colspan = "2">
					<% if flash[:alert] %>
						<%= flash[:alert] %>
					<% end %>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td width="100px"><label for="name">Name:</label></td>
				<td><%= text_field_tag :name, params[:name] %></td>
			</tr>
			<tr>
				<td><label for="password">Password:</label></td>
				<td><%= password_field_tag :password, params[:password] %></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: center"><%= submit_tag "Login" %></td>
			</tr>
		</table>
				
				

				
				<br />
				
	<% end %>
</div>

</div>
<%= render "layouts/footer" %>