<span class = "date">
	[<%= message.created_at.strftime("%H:%M:%S") %>]
</span>
<font class = 'user' color = '<%= '#' + (message.author[0].ord*13%256).to_s(16) + (message.author[1].ord*13%256).to_s(16) + (message.author[2].ord*13%256).to_s(16) %>' >
	<%= message.author %>
</font>
<span class = "text">: 
<% url_regex = /\bhttps?:\S*/ %>
<% image_regex = /\.(png|jpg|jpeg|bmp|gif|tif|svg)\b/ %>
<% audio_regex = /\.(mp3|m4a|ogg|wav)\b/ %>
<% video_regex = /\.(mp4|ogv|webm|flv|avi|mpeg)\b/ %>
<% youtube_regex = /\bhttp:\/\/www.youtube.com\/watch\?v=/ %>
<% youtube_id_regex = /\?v=\S*/ %>

<% if message.body =~ url_regex %>
	<% between_url = message.body.split(url_regex) %>
	<% i = 0 %>
	<% message.body.scan(url_regex) do |currrent_match| %>
		<%= between_url[i] %>
		<% if currrent_match =~ image_regex %>

			<a href = '<%= currrent_match %>' ><img  class = 'inline_image' height="180" src = '<%= currrent_match %>' /></a>

		<% elsif currrent_match =~ audio_regex %>

			<audio class = 'inline_audio' loop='false' controls autoplay >
				<source src='<%= currrent_match %>' />
				<b>Your browser does not support this audio format.</b>
			</audio>

		<% elsif currrent_match =~ video_regex %>

			<video class = 'inline_video' autoplay >
				<source src='<%= currrent_match %>' />
				<b>Your browser does not support this video format.</b>
			</video>

		<% elsif currrent_match =~ youtube_regex %>

			<iframe class = "inline_youtube" src = "<%= 'http://www.youtube.com/embed/' + currrent_match.scan(youtube_id_regex)[0].sub(/\?v=/,'').sub(/&\S*/,'') + '?feature=player_detailpage&autoplay=1' %>" frameborder="0" allowfullscreen ></iframe>
				
		<% else %>

			<a class = 'inline_url' href = '<%= currrent_match %>' ><%= currrent_match %></a>

		<% end %>
		<% i = i + 1 %>
		<%= between_url[i] %>
	<% end %><br>
<% else %>
	<%= message.body %><br>
<% end %>
</span>