<%= render "layouts/header" %>
<div id="container">
<!---->

<div id="channel">
<h1>Chat Rooms &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "+", new_chatroom_path, :class => "new_chatroom" %></h1>

<ul>
  <% @chatrooms.each do |chatroom| %>
    <li class="chat">
      <%= link_to chatroom.name, {:id => chatroom.id} %>
    </li>
  <% end %>
</ul>


</div>

<div id="msg">
<div id="output"><h1><%= @chatroom.name %></h1>
<p>
<%= render :partial => 'message', :collection => @chatroom.messages %>
</p>
<!--<%= link_to "Exit", chatrooms_path %>-->


</div>
<div id="input" onclick="focusInput();"><%= render :partial => 'message_input' %></div>
</div>

<div id="people">
<h1>People</h1>
<ul>
<% @chatroom.users.each do |user| %>
	<li class = "active" > 
		<font class = "active_username" color = '<%= '#' + (user.name[0].ord*13%256).to_s(16) + (user.name[1].ord*13%256).to_s(16) + (user.name[2].ord*13%256).to_s(16) %>' >
			<%= user.name %>
		</font>
	</li>
<% end %>
</ul>
</div>

<!---->
</div>

<%= render "layouts/footer" %>