<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>

      <ul style="padding-left: 10px; color: red; list-style-type: square">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

    <table cellpadding = "5px" style="margin-left: 8%; margin-top: 10px;">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td><%= f.label :confirm %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center"><%= f.submit %></td>
      </tr>

      
    </table>
<% end %>
