<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>uniChat</title>
<script src="treemenu.js" type="text/javascript"></script>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css' />

</head>

<body>
<div id="header">
</div>
<div id="nav">
	<ul>
    	<li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/rules">Rules</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>
</div>


<div id="title">uniChat</div>
<div id="sub">Browser chat for students of UWA</div>
<a class="button" href="/chatrooms">Enter Chat</a>
<div id="showuser">
	<% if User.find_by_id(session[:user_id]) %>
		<% @user = User.find(session[:user_id]) %>
		<% if @user.name != nil %>
			Welcome, <%= @user.name %> | <%= link_to "Log Out", logout_path, :method => :delete, :controller => "sessions" %>
		<% else %>
			<%= link_to "Log In", login_path %> | <%= link_to "Register", new_user_path%>
		<% end %>
	<% else %>
	<%= link_to "Log In", login_path %> | <%= link_to "Register", new_user_path%>
	<% end %>

	</div>